ActionName-ru.dat
ActionName-e.dat
systemmsg-e.dat
SystemMsg-ru.dat
user
Weapongrp.dat
WinDrv.int
D3DDrv.dll
Predefinedshader.bin
raiddata-e.dat
SymbolName-ru.dat
LineageNpcEv.u
Core.u
SymbolName-e.dat
Editor.u
optiondata_client-ru.dat
msxml4a.dll
QuestName-ru.dat
ALAudio.dll
smallfont-e.gly
LineageMonster.u
